doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/css/flat-ui.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false')
        script(src='/js/main.js')
    body
        block content